#EXAMPLE FILE

ENVIRONMENT = PRODUCTIOn
FLASK_DEBUG = False

# Flask secret key(generate with: python -c "import secrets; print(secrets.token_hex(32))")
SECRET_KEY=

# Configuration Email SMTP
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465

# Admin Password (générer avec: python -c "import hashlib; pswd='ToBeFiled'; print(hashlib.sha256(pswd.encode()).hexdigest())")
ADMIN_PASSWORD_HASH=

# Configuration Session
SESSION_TIMEOUT_MINUTES=30
SESSION_REFRESH_EACH_REQUEST=True

# Data Base link
DATABASE_PATH=database/credentials.db

# Files config
DEFAULT_FILE_PATH=/ProgramData/ZSBWApp
BUG_FOLDER=/ProgramData/ZSBWApp/BugReports
LOG_FOLDER=/ProgramData/ZSBWApp/logs

# Security config
REQUIRE_HTTPS=True
CREATE_TEST_USER=False
#CORS_ORIGINS=https://votredomaine.com #Not implemented
