<!--Code under a source-available license. See more info in LICENSE
Author: Merlin Van Cranem 
Contact: vancranemmerlin@gmail.com
https://github.com/Lenchanteu
Last modifications: 30/08/2026 by Merlin Van Cranem -->
{% extends "base.html" %}

{% block title %}Connexion administrateur{% endblock %}

{% block content %}
    <h1>Connexion administrateur</h1>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label for="code">Mot de passe :</label>
            <input type="password" id="code" name="code" required>
        </div>

        <button type="submit">Se connecter</button>
    </form>
{% endblock %}

