<!--Code under a source-available license. See more info in LICENSE
Author: Merlin Van Cranem 
Contact: vancranemmerlin@gmail.com
https://github.com/Lenchanteu
Last modifications: 04/09/2026 by Merlin Van Cranem -->
{% extends "base.html" %}

{% block title %}Administration{% endblock %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('#KillServer').click(function(e) {
            e.preventDefault();
            $.get('/KillSwitch', function(data) {
                console.log(data);
            });
        });
    });

    async function updateConsole() {
        const response = await fetch("/admin/logs");
        const text = await response.text();

        const consoleBox = document.getElementById("console");
        consoleBox.textContent = text;

        // Maintient l'affichage en bas de la console
        consoleBox.scrollTop = consoleBox.scrollHeight;
    }

    updateConsole();
    setInterval(updateConsole, 1000);
</script>



<h2>Commandes</h2>

<form method="POST">
    <h3>Supprimer les rapports d'un utilisateur</h3>

    <input type="hidden" name="form_id" value="del_u_rep">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">


    <div class="form-group">
        <label for="user">Utilisateur :</label>
        <input type="text" id="user" name="args">
    </div>

    <button type="submit">Supprimer</button>
</form>

<h2>Journal du serveur</h2>

<pre
    style="
        background:#111;
        color:#0f0;
        padding:15px;
        height:400px;
        overflow-y:auto;
        white-space:pre-wrap;
    "
    id="console">{{ logs }}</pre>

<h2>Utilisateurs</h2>

{% if users %}
            <div class="table-wrapper">
                <table class="file-table">
                    <thead>
                        <tr>
                            <th>Nom du fichier</th>
                            <th>Taille</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>
                                    <a class="button-link small" href="{{ url_for('user', uname=user.name) }}">
                                        Plus d'infos
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="empty-state">
                <p>Aucun utilisateurs trouvé pour le moment.</p>
            </div>
        {% endif %}

    <button id="KillServer">Arrêt d'urgence du serveur</button>

{% endblock %}

