<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ERROR{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>An Error happened :(</h1>
        {% block content %}{% endblock %}
        <p>If you believe that this is a bug, please repport it here: <a href="{{ url_for('report_bug') }}">Bug repport</a></p>
        <p>You can come back home here: <a href="{{ url_for('home') }}">Home</a></p>
    </div>
</body>
</html>