<!--Code under a source-available license. See more info in LICENSE
Author: Merlin Van Cranem 
Contact: vancranemmerlin@gmail.com
https://github.com/Lenchanteu
Last modifications: 30/08/2026 by Merlin Van Cranem -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ERREUR{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Une erreur s'est produite</h1>
        {% block content %}{% endblock %}
        <p>Si vous pensez qu'il pourrait s'agir d'un bug, veuillez faire un rapport de bug ici: <a href="{{ url_for('report_bug') }}">Rapport de bug</a></p>
        <p>Vous pouvez retourner à l'écran d'accueil en cliquant ici: <a href="{{ url_for('home') }}">Écran d'accueil</a></p>
    </div>
     <footer class="footer">
        <a href="https://github.com/Lenchanteu/ZSBW-PrevPDF">ZSBW PrevPDF</a> © 2026 par <a href="https://github.com/Lenchanteu">Merlin Van Cranem</a> est sous une license à code source disponible. <a href="https://github.com/Lenchanteu/ZSBW-PrevPDF/LICENSE">Plus d'informations</a>
        <p><a href="{{ url_for('cookies') }}">Politique de confidentialité</a></p>
    </footer>
</body>
</html>