<!--Code under a source-available license. See more info in LICENSE
Author: Merlin Van Cranem 
Contact: vancranemmerlin@gmail.com
https://github.com/Lenchanteu
Last modifications: 30/08/2026 by Merlin Van Cranem -->
{% extends "base.html" %}

{% block title %}Changer le mot de passe{% endblock %}

{% block content %}
    <h1>Changer le mot de passe</h1>

    <p>
        Un code de vérification a été envoyé à votre adresse e-mail.
        Veuillez le saisir ci-dessous, puis choisissez un nouveau mot de passe.
    </p>

    <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div>
            <label for="code">Code de vérification :</label><br>
            <input
                type="text"
                id="code"
                name="code"
                placeholder="Entrez le code reçu"
                required
            >
        </div>

        <br>

        <div>
            <label for="new">Nouveau mot de passe :</label><br>
            <input
                type="password"
                id="new"
                name="new"
                placeholder="Nouveau mot de passe"
                required
            >
        </div>

        <br>

        <button type="submit">Changer le mot de passe</button>
    </form>

    <br>

    <p>
        Après le changement de votre mot de passe, vous serez automatiquement déconnecté et devrez vous reconnecter.
    </p>

{% endblock %}