{% extends "base.html" %}

{% block title %}{{ _("Change your password") }}{% endblock %}

{% block content %}
    <h1>{{ _("Change your password") }}</h1>

    <p>
        {{ _("A verification code was sent to your email address.
       Please input it here to verify your identity.") }}
    </p>

    <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div>
            <label for="code">{{ _("Verification code") }} :</label><br>
            <input
                type="text"
                id="code"
                name="code"
                placeholder="code"
                required
            >
        </div>

        <br>

        <div>
            <label for="new">{{ _("New password") }} :</label><br>
            <input
                type="password"
                id="new"
                name="new"
                placeholder="New password"
                required
            >
        </div>

        <br>

        <button type="submit">{{ _("Change your password") }}</button>
    </form>

    <br>

    <p>
        {{ _("After having changed your password, you will be loged out, and will have to log back in.") }}
    </p>

{% endblock %}