{% extends "base.html" %}

{% block title %}{{ _("Privacy Policy") }}{% endblock %}

{% block content %}

<h1>{{ _("Privacy Policy") }}</h1>

<p>{{ _("This app was developped in the European Union, a privacy policy is mandatory inside of it to explain to the user why their info is collected and how it is used.") }}</p>

<h2>{{ _("Cookies in use:") }}</h2>

<p>{{ _("This app only uses essential cookies that are required for operation.") }}</p>

<ul>
    <li>{{ _("Username") }} : {{ _("account identification.") }}</li>
    <li>{{ _("User session") }} : {{ _("maintaining the connection.") }}</li>
    <li>{{ _("Admin session") }} : {{ _("access to the admin interface.") }}</li>
</ul>

<p>
{{ _("These cookies are stored for the duration of the user session.") }}
</p>

<h2>{{ _("Personal data collected:") }}</h2>

<p>{{ _("These datas are only stored to maintain the correct operation of the app") }} :</p>

<ul>
    <li>{{ _("User name.") }}</li>
    <li>{{ _("Password hash (hashed using the algorithm Argon2id).") }}</li>
    <li>{{ _("Email address.") }}</li>
    <li>{{ _("Confirmation of the email address.") }}</li>
    <li>{{ _("Last IP address connected to the account.") }}</li>
</ul>

<p>
{{ _("This data is retained as long as the account is active. It is deleted within a reasonable timeframe after account deletion, unless otherwise required by law.
Some of this information may be modified by the user or by the server, depending on its nature.") }}
</p>

<h2>{{ _("Third party data sharing:") }}</h2>

<p>
{{ _("No personal data is transmitted to third party companies.
Data is stored only on the server hosting this app.") }}
</p>

<p>
    {{ _("The data is only accessible to authorized users and application administrators when necessary for its operation.") }}
</p>

<h2>{{ _("Activity logs:") }}</h2>

<p>
{{ _("To ensure the security, proper functioning and maintenance of this web application,
certain events may be recorded in activity logs.") }}
</p>

<p>{{ _("These journals may contain, among other things:") }}</p>

<ul>
    <li>{{ _("The concerned username.") }}</li>
    <li>{{ _("The date and time of the event.") }}</li>
    <li>{{ _("The IP address conected.") }}</li>
    <li>{{ _("The type of action performed (login, logout, account modification, data download, etc.).") }}</li>
    <li>{{ _("The technical errors that can eventually be encountered.") }}</li>
</ul>

<p>
{{ _("This information is used solely for security, incident diagnosis, application maintenance, and, if necessary, auditing of actions taken.
It is not shared with third-party companies and is retained for a limited period, proportionate to its purpose.") }}
</p>

<h2>{{ _("Your rights") }}</h2>

<p>
{{ _("In accordance with the GDPR, you can request access to your personal data,
its rectification, erasure, export, and, where applicable, the restriction of its processing.") }}
</p>

<a class="btn" href="{{ url_for('download_data') }}">
    {{ _("Download, or delete my data") }}
</a>

{% endblock %}