<!--Code under a source-available license. See more info in LICENSE
Author: Merlin Van Cranem 
Contact: vancranemmerlin@gmail.com
https://github.com/Lenchanteu
Last modifications: 30/08/2026 by Merlin Van Cranem -->
{% extends "base.html" %}

{% block title %}Demande de transmission des données{% endblock %}

{% block content %}

<h2>Demande de transmission des données collectées</h2>

<p>
Conformément au RGPD, vous pouvez demander l'accès à vos données personnelles,
leur rectification, leur suppression ou leur export. Vous pouvez effectuer ces
demandes à partir de cette page.
</p>

<p>
En cliquant sur le bouton ci-dessous, un fichier contenant les données personnelles
associées à votre compte sera généré et téléchargé. Ce fichier comprend uniquement
les informations enregistrées pour le fonctionnement de votre compte.
</p>

<h3>Données incluses :</h3>

<ul>
    <li>1. Nom d'utilisateur</li>
    <li>2. Adresse e-mail</li>
    <li>3. État de confirmation de l'adresse e-mail</li>
    <li>4. Dernière adresse IP de connexion</li>
</ul>

<p>
Pour des raisons de sécurité, votre mot de passe haché (Argon2id) ainsi que les
informations techniques associées à son stockage ne sont pas inclus dans l'export.
</p>

<p>
    Pour protéger vos données personnelles, une authentification est nécessaire
    avant de pouvoir télécharger les informations associées à votre compte.
</p>

<form method="POST" action="{{ url_for('download_data') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
            <label for="uname">Nom d'utilisateur :</label>
            <input type="text" id="uname" name="uname" required autocomplete="username">
        </div>
        <div class="form-group">
            <label for="pswd">Mot de passe :</label>
            <input type="password" id="pswd" name="pswd" required autocomplete="current-password">
        </div>
    <button type="submit">Télécharger mes données</button>
</form>

<p>
    En remplissant le formulaire ci-dessous, vous pouvez supprimés des données non-essentielles de votre compte. Si vous voulez supprimer toutes les données collectés vous concernant, veuillez procéder à une suppression de votre compte ici: <a href="#">Suppression du compte</a>.
</p>
<h3>Données non essentielles :</h3>
<ul>
    1. Dernière adresse IP de connexion
</ul>
<form method="POST" action="{{ url_for('delete_data')}}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
            <label for="uname">Nom d'utilisateur :</label>
            <input type="text" id="uname" name="uname" required autocomplete="username">
        </div>
        <div class="form-group">
            <label for="pswd">Mot de passe :</label>
            <input type="password" id="pswd" name="pswd" required autocomplete="current-password">
        </div>
    <button type="submit">Supprimer mes données non essentielles</button>
</form>
{% endblock %}