{% extends "base.html" %}

{% block title %}{{ _("Data transmission request") }}{% endblock %}

{% block content %}

<h2>{{ _("Data transmission request") }}</h2>

<p>
{{ _("In accordance with the GDPR, you can request access to your personal data, its rectification, erasure, or export. You can make these requests from this page.") }}
</p>

<p>
{{ ("By clicking the button below, a file containing the personal data associated with your account will be generated and downloaded. This file only includes information recorded for the operation of your account.") }}
</p>

<h3>{{ _("Data included:") }}</h3>

<ul>
    <li>1. {{ _("Username") }}</li>
    <li>2. {{ _("Email address") }}</li>
    <li>3. {{ _("Confirmation of your email") }}</li>
    <li>4. {{ _("Last IP address connected") }}</li>
</ul>

<p>
{{ ("For security reasons, your hashed password (Argon2id) and the technical information associated with its storage are not included in the export.") }}
</p>

<p>
    {{ _("To protect your personal data, authentication is required
before you can download information associated with your account.") }}
</p>

<form method="POST" action="{{ url_for('download_data') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
            <label for="uname">{{ _("Username:") }}</label>
            <input type="text" id="uname" name="uname" required autocomplete="username">
        </div>
        <div class="form-group">
            <label for="pswd">{{ _("Password:") }}</label>
            <input type="password" id="pswd" name="pswd" required autocomplete="current-password">
        </div>
    <button type="submit">{{ _("Download my data") }}</button>
</form>

<p>
    {{ _("By filling out the form below, you can remove non-essential data from your account. If you want to delete all data collected about you, please delete your account here:") }} <a href="#">{{ _("Delete your account") }}</a>.
</p>
<h3>{{ _("Non essential data:") }}</h3>
<ul>
    1. {{ _("Last IP address connected") }}
</ul>
<form method="POST" action="{{ url_for('delete_data')}}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
            <label for="uname">{{ _("Username:") }}</label>
            <input type="text" id="uname" name="uname" required autocomplete="username">
        </div>
        <div class="form-group">
            <label for="pswd">{{ _("Password:") }}</label>
            <input type="password" id="pswd" name="pswd" required autocomplete="current-password">
        </div>
    <button type="submit">{{ _("Delete my non-essential data") }}</button>
</form>
{% endblock %}