{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>ZSBW application pour la génération de rapports de visite</h1>
    <p>Ceci est l'écran de démarage. Veuillez vous connecter pour commencer. <br>
        ATTENTION: Cette application est en programme beta, des "bugs" pourraient être présents. <br>
        Version: Beta 1.0 stable. Pour accèder à l'application admin, veuillez cliquer ici: <a href="{{ url_for('admin_login') }}">Tableau d'administration</a> (!PAS fonctionel!). Attention, ce projet est en cours de traduction de l'anglais vers le français. <br>
    </p>
{% endblock %}