{% extends "base.html" %}

{% block title %}Connection{% endblock %}

{% block content %}
    <h1>Connection</h1>
    <form method="POST" action="{{ url_for('login') }}">
        <div class="form-group">
            <label for="uname">Nom d'utilisateur :</label>
            <input type="text" id="uname" name="uname" required autocomplete="username">
        </div>
        <div class="form-group">
            <label for="pswd">Mot de passe :</label>
            <input type="password" id="pswd" name="pswd" required autocomplete="current-password">
        </div>
        <button type="submit">Connection</button>
    </form>
    <p>Vous n'avez pas de compte? <a href="{{ url_for('register')}}">Créer un compte</a></p>
{% endblock %}