{% extends "base.html" %}

{% block title %}Mes rapports{% endblock %}

{% block content %}

<h1>Mes rapports</h1>

{% if files %}

<table>

<tr>
    <th>Nom du fichier</th>
    <th>Taille</th>
    <th></th>
</tr>

{% for file in files %}

<tr>
    <td>{{ file.name }}</td>
    <td>{{ file.size }} KB</td>
    <td>
        <a class="button"
           href="{{ url_for('downloads', filename=file.name) }}">
            Télécharger
        </a>
    </td>
</tr>

{% endfor %}

</table>

{% else %}

<p>Aucun rapport trouvé.</p>

{% endif %}

{% endblock %}

