{% extends "base.html" %}

{% block title %}{{ _("Settings") }}{% endblock %}

{% block content %}
    <h1>{{ _("Account settings") }}</h1>

    <hr>

    <h2>{{ _("Change your password:") }}</h2>
    <p>
        {{ _("You can change your password by clicking the button below.") }}
    </p>

    <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <input type="hidden" name="id" value="change_password">
        <button type="submit">{{ _("Change your password") }}</button>
    </form>

    <br>

    <hr>

    <h2>{{ _("Delete your account") }}</h2>
    <p style="color: red;">
        <strong>{{ _("Danger:") }}</strong> {{ _("This action is irreversible. All your data will be permanently deleted.") }}
    </p>

    <form method="POST" onsubmit="return confirm('Are you sure you want to delete your account? This action is irreversible.');">
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <input type="hidden" name="id" value="delete_account">
        <button type="submit" style="background-color: red; color: white;">
            {{ _("Delete my account") }}
        </button>
    </form>

{% endblock %}